nav {
  background-color: var(--second-color);
  padding: 5px 0px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .logo {
  width: 5%;
}
nav .container .logo img {
  width: 100%;
}
nav .container .burger {
  display: none;
}
nav .container .links ul {
  display: flex;
  list-style: none;
  column-gap: 19px;
}

nav .container .links ul li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 15px;
  position: relative;
  transition-duration: 0.5s;
}

nav .container .links ul li.active a,
nav .container .links ul li:hover a {
  color: var(--main-color);
}
nav .container .links ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.5s;
}

nav .container .links ul li:hover a::after,
nav .container .links ul li.active a::after {
  width: 100%;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../images/slider-01-cd8154e4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}
header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
}

header .content {
  text-align: center;
  color: #fff;
  position: relative;
}
header .content h4 {
  /* font-size: 30px; */
  font-size: clamp(1rem, 3vw, 1.9rem);
  font-weight: 400;
}
header .content h1 {
  /* font-size: 80px; */
  font-size: clamp(3rem, 6vw, 5.2rem);
  margin: 8px 0px;
  color: var(--main-color);
  font-weight: 600;
  text-shadow: 10px 5px 40px var(--main-color);
}
header .content p {
  font-size: clamp(0.8rem, 2vw, 1.3rem);
}

header .content p::after {
  content: "Designer |";
  animation-name: animate_2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

header a.shape {
  width: 30px;
  height: 60px;
  border: 3px solid var(--main-color);
  border-radius: 15px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
header a.shape::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: animate_1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#About {
  background-color: var(--bg-color);
}
#About .container {
  display: flex;
}
#About .container .part {
  width: 50%;
  padding: 20px 0px;
}
#About .container .part1 .frame {
  background-color: transparent;
  width: 350px;
  border: 4px solid var(--main-color);
  border-radius: 10px;
  margin: auto;
}
#About .container .part1 .frame .image {
  position: relative;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  overflow: hidden;
}
#About .container .part1 .frame .image img {
  width: 100%;
  height: 100%;
  display: block;
}
#About .container .part1 .frame .image .layout {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  border-radius: 10px;
}
#About .container .part1 .frame .image:hover .layout {
  top: 0%;
}
#About .container .part1 .frame .image .layout ul {
  display: flex;
  list-style: none;
  column-gap: 15px;
}
#About .container .part1 .frame .image .layout ul li {
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-15px);
}
#About .container .part1 .frame .image:hover .layout ul li {
  transition-duration: 1s;
}
#About .container .part1 .frame .image:hover .layout ul li:nth-of-type(1) {
  transition-delay: 1s;
}
#About .container .part1 .frame .image:hover .layout ul li:nth-of-type(2) {
  transition-delay: 1.2s;
}
#About .container .part1 .frame .image:hover .layout ul li:nth-of-type(3) {
  transition-delay: 1.4s;
}
#About .container .part1 .frame .image:hover .layout ul li:nth-of-type(4) {
  transition-delay: 1.6s;
}
#About .container .part1 .frame .image .layout ul li:nth-of-type(1) a {
  color: #1877f2;
}
#About .container .part1 .frame .image .layout ul li:nth-of-type(2) a {
  color: #e4405f;
}
#About .container .part1 .frame .image .layout ul li:nth-of-type(3) a {
  color: #1da1f2;
}
#About .container .part1 .frame .image .layout ul li:nth-of-type(4) a {
  color: #1b1f23;
}
#About .container .part1 .frame .image:hover .layout ul li {
  opacity: 1;
  transform: translateY(0px);
}

#About .container .part2 {
  width: 50%;
  color: #fff;
}
#About .container .part2 > * {
  margin-bottom: 20px;
}
#About .container .part2 h2 {
  font-size: 30px;
  border-left: 4px solid var(--main-color);
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
#About .container .part2 p {
  color: #c1c1c1;
  line-height: 1.5;
}
#About .container .part2 hr {
  border: none;
  border-top: 2px dotted #fff;
}
#About .container .part2 .info {
  display: flex;
  flex-wrap: wrap;
}
#About .container .part2 .info .col {
  flex-basis: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
#About .container .part2 .buttons button {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition-duration: 0.5s;
}
#About .container .part2 .buttons button:first-child {
  margin-right: 10px;
}
#About .container .part2 .buttons button:hover {
  background-color: var(--main-color);
  color: #fff;
}
#Services {
  color: #fff;
}
#Services .content {
  display: flex;
  flex-wrap: wrap;
}
#Services .content .box {
  width: 25%;
}

#Services .content .box .item {
  text-align: center;
  border: 1px solid var(--main-color);
  padding: 10px 20px;
  border-radius: 10px;
  margin-inline: 10px;
  transition-duration: 0.5s;
  transform: translateY(0px);
}
#Services .content .box .item:hover {
  transform: translateY(-15px);
  box-shadow:
    rgba(255, 48, 91, 0.4) 0px 5px,
    rgba(255, 48, 91, 0.3) 0px 10px,
    rgba(255, 48, 91, 0.2) 0px 15px,
    rgba(255, 48, 91, 0.1) 0px 20px,
    rgba(255, 48, 91, 0.05) 0px 25px;
}
#Services .content .box .item i {
  color: var(--main-color);
  font-size: 30px;
  margin-top: 10px;
}
#Services .content .box .item h5 {
  font-size: 16px;
  font-weight: 700;
  margin-block: 10px;
}
#Services .content .box .item p {
  color: #c1c1c1;
  margin-bottom: 10px;
}
#Portfolio {
  margin-top: 50px;
}
#Portfolio .content {
  display: flex;
  flex-wrap: wrap;
}
#Portfolio .content .box {
  width: 33.33%;
}
#Portfolio .content .box {
  margin-bottom: 20px;
}
#Portfolio .content .box .item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0px 10px;
}
#Portfolio .content .box img {
  width: 100%;
  height: 100%;
  display: block;
}
#Portfolio .content .box .layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#Portfolio .content .box .layout::before {
  content: "";
  display: block;
  width: 0%;
  height: 0%;
  border-radius: 80%;
  background-color: rgba(255, 48, 91, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 1s;
}
#Portfolio .content .box .item:hover .layout::before {
  width: 100%;
  height: 100%;
  border-radius: 0%;
}
#Portfolio .content .box .layout h3 {
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 0px;
  position: absolute;
  top: 30px;
  left: 100%;
  width: 100%;
}
#Portfolio .content .box .item:hover .layout h3 {
  transition-duration: 1s;
  transition-delay: 1s;
  left: 0%;
}
#Portfolio .content .box .layout a {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: var(--main-color);
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}
#Portfolio .content .box .item:hover .layout a {
  transition-duration: 1s;
  transition-delay: 1s;
  bottom: 30px;
}
#Blog {
  margin-top: 30px;
}
#Blog .content {
  display: flex;
  flex-wrap: wrap;
}
#Blog .content .box {
  width: 33.33%;
}
#Blog .content .box .item {
  width: 300px;
  margin: auto;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
}
#Blog .content .box .item .head {
  height: 200px;
}
#Blog .content .box .item .head img,
#Blog .content .box .item .head iframe {
  width: 100%;
  height: 100%;
  display: block;
}
#Blog .content .box .item .body {
  padding: 15px;
}
#Blog .content .box .item .body > *:not(:last-child) {
  margin-bottom: 15px;
}
#Blog .content .box .item .body h6 {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 2px;
}
#Blog .content .box .item .body h4 {
  font-size: 18px;
  font-weight: 600;
}
#Blog .content .box .item .body p {
  color: #c1c1c1;
  line-height: 1.5;
}
#Blog .content .box .item .body button {
  padding: 10px 10px;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  transition-duration: 0.5s;
  cursor: pointer;
}
#Blog .content .box .item .body button:hover {
  color: #fff;
  background-color: var(--main-color);
}
#Blog .content .box .item .body button i {
  transition-duration: 0.5s;
}
#Blog .content .box .item .body button:hover i {
  margin-left: 5px;
}
#ContactUs {
  margin-top: 40px;
  margin-bottom: 20px;
}
#ContactUs .container .title {
  margin-bottom: 50px;
}
#ContactUs form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
#ContactUs form .box {
  width: 100%;
  margin-bottom: 15px;
}
#ContactUs form .box:nth-of-type(1),
#ContactUs form .box:nth-of-type(2) {
  width: 50%;
}
#ContactUs form .box:nth-of-type(1) .item {
  margin-right: 5px;
}
#ContactUs form .box:nth-of-type(2) .item {
  margin-left: 5px;
}
#ContactUs form .box .item input,
#ContactUs form .box .item textarea {
  width: 100%;
  border: 1px solid var(--main-color);
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
#ContactUs form .box .item textarea {
  resize: none;
  height: 170px;
}
#ContactUs form .box .item input::placeholder,
#ContactUs form .box .item textarea::placeholder {
  color: #fff;
}
#ContactUs form button {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px;
  transition-duration: 0.5s;
  text-decoration: none;
  color: var(--main-color);
}

#ContactUs form button:hover {
  background-color: var(--main-color);
  color: #fff;
}

footer {
  color: #fff;
  background-color: #333333;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0px;
}
